body {
  font-family: 'lato', sans-serif;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: left;
 
}
ul {
  display: inline-grid;
  width: 80%;
}

.col {
  padding: 10px 0;
}

  .table-header {
    background-color: #95A5A6;
    letter-spacing: 0.03em;
    border-radius: 3px;
    padding: 25px 30px;
    margin: 10px;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 25px 30px;
    display: inline-grid;
    justify-content: space-between;
    margin-bottom: 25px;
  }